{% extends 'base.html.twig' %}

{% block title %}
Titre pour la page de profil
{% endblock %}

{% block header %}

<nav>Contenu du bloc header</nav>

{% endblock %}

{% block body %}

    <h1>{{title}}</h1>

    <h2>Profil de {{nom}}, votre accès est de niveau : {{acces}}</h2>

{% endblock %}
